.container {
  display: flex;
  margin: 0;
  padding: 0;
}

.container-small {
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  margin-left: 36px;
}

.playlist-box {
  display: flex;
}
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 18px;
  align-items: center;
}
.recording-status {
  display: flex;
  justify-content: center;
}